html{
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /*width: 900; /* 画面の幅いっぱいにコンテンツを広げる */
    /*height: 600; /* 画面の高さ*/
    overflow: hidden; /* 画面スクロールを無効にする */
    word-wrap: break-word;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template:
        "... ...... ...... ...... ...... ...... ..."
        "... header header header header header ..." 150px
        "... ...... ...... ...... ...... ...... ..."
        "... left   ...... center ...... right  ..." 1fr
        "... ...... ...... ...... ...... ...... ..."
        "... footer footer footer footer footer ..." 300px
        "... ...... ...... ...... ...... ...... ..."
        / auto 150px auto 1fr auto 200px auto;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, button, textarea {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}
