.container {
  padding: 0 2rem;
  
  width: 900;  
  height: 500;
}

.container h1 {
  text-align: center;
  font-size: 100px;
  margin-top:-20px; 
   margin-bottom: 40px; 
}

.container h2 {
  text-align: center;
  font-size: 80px;
  margin-top: 0px; 
  margin-bottom: 30px;
}

.container h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 100px; 
  margin-left: 30px;
  margin-bottom: -20px;
  letter-spacing: 30px;
}

.container button {
  /* background: rgb(56, 82, 103);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px; */
  background-color:skyblue;
  padding: 20px;
  color:#fff;
  margin: 10px auto 0;
  display: block;
  width: 150px;
  text-align: center;
  border-radius:10px;
  border:none;
  font-family: "MS Pゴシック";

}

.flex_test_box {
  display: flex; 
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

.page h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%,-50%);
    color: #fff;
     z-index: 1; /*紙吹雪よりも表に出してくる */
  }

 .button{
  background-color:skyblue;
  padding: 20px;
  color:#fff;
  margin: 10px auto 0;
  display: block;
  width: 150px;
  text-align: center;
  border-radius:10px;
  border:none;
  
}

.popper {
  display: flex;
}